@media (max-width: 991.9px)
    #main 
        h1 span
            font-size: 30px
            line-height: 30px
        .main_button_btn
            padding: 0 20px
        .logo
            &_img
                width: 40px
            &_text
                font-size: 20px
@media (max-width: 767.9px)
    #main
        padding-top: 50px
        .main_button
            margin-top: 50px
            &_btn
                padding: 0 30px
                font-size: 16px
        .main_center
            margin-top: 80px
        .main_descr
            margin-top: 80px
            font-size: 16px
    .menu
        &_link
            font-size: 12px
    .info
        &_item
            width: 150px
            padding: 15px 10px
            &_num
                font-size: 50px
                line-height: 50px
            &_title
                line-height: 20px
        &_text
            font-size: 16px
            margin: 40px 10px 0 20px